.app-primary-bg { 
    overflow: auto; 
    background-size: 110% 110%; 
    background-attachment: fixed; 
    height: 100%;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: center/contain no-repeat fixed;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 10px 16px;
    background-color: rgba(255, 255, 255); 
}

.buttons {
    display: flex;
    gap: 16px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: white; 
    gap: 50px;
}
  
.mat-expansion-panel {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.mat-expansion-title {
    text-align: center;
}

.signup-formfield {
    ::ng-deep .mat-form-field-infix {
		border-top: 0px !important;
	}
	::ng-deep .mat-form-field-flex .mat-form-field-infix {
		padding: 0.9em 0px 0.7em 0px !important;
	}
	::ng-deep .mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
		margin: 0.35em 0;
		padding: 0px;
	}
	::ng-deep .mat-select-arrow-wrapper{
		padding-top: 16px;
	}
	::ng-deep .mat-form-field-appearance-outline {
		transform: translateY(-0.5%);
	}
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
		margin-top: 20px;
	}
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
		background-color: white;
		border-radius: 5px;
	}
}
.mat-card {
    background-color: #fafbfb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75, 146, 200, 0.1);
    padding: 20px;
    width: 500px;
    margin-left: -300px;
}
section {
    max-width: 800px;
    margin: 20px auto;
}